.card-menu{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 0%
}
.cm:hover, .special:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.special{
    height: 100px;
}
.separator{
    border-right: 1px solid white;
}
a{
    color: white;
}
a:hover{
    color: whitesmoke;
}
.selected{
    background-color: rgba(0, 0, 0, 0.4);
    
 
}
.select:hover{
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
#content{
    border-top: 1px solid whitesmoke
}
.centered{
    display: inline-block;
    margin: auto
}
.c-icon{
    font-size: 48px;

}